@tailwind base;
@tailwind components;
@tailwind utilities;
.font-link {
    font-family: 'Protest Riot', sans-serif;
    font-style: italic;
    cursor: pointer;
    color: black;
  }
  .pop{
    font-family: 'Poppins', sans-serif;
  }